<h1>TODO LIST</h1>

<% @tasks.each do |each_task| %>
	<p><%= each_task.description %>  Created at: <%= each_task.created_at %> <%= check_box_tag(:tasks) %><%= label_tag(:tasks, 'Done') %></p>
	<%= link_to 'delete', task_path(each_task), method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
<br><br>
<h2>You have <%= @tasks.count %> tasks left</h2>

